@media(max-width: 735px){
    html{
        background: url(../images/bg-purple-small.svg) no-repeat left top, url(../images/bg-white-small.svg) no-repeat right bottom;
    }

    .app{
        flex-direction: column;
        gap: 0;
    }

    .app .phone{
        margin: 20px 0 0;
    }

    .app .info{
        margin: 30px 20px 10px;
        text-align: center;
    }
}

@media(max-width:380px){
    .app .info .title{
        margin-bottom: 15px;
    }

    .app .info .text-info{
        font-size: 12px;
        line-height: 17px;
    }
}